@font-face{font-family:'Golos Text';src:url('uploads/GolosText-Regular.ttf');font-weight:400;font-display:swap}
@font-face{font-family:'Golos Text';src:url('uploads/GolosText-Medium.ttf');font-weight:500;font-display:swap}
@font-face{font-family:'Golos Text';src:url('uploads/GolosText-SemiBold.ttf');font-weight:600;font-display:swap}
@font-face{font-family:'Golos Text';src:url('uploads/GolosText-Bold.ttf');font-weight:700;font-display:swap}
@font-face{font-family:'Golos Text';src:url('uploads/GolosText-ExtraBold.ttf');font-weight:800;font-display:swap}
@font-face{font-family:'Golos Text';src:url('uploads/GolosText-Black.ttf');font-weight:900;font-display:swap}
